node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*.local

dist/
build/
.cache/
.parcel-cache/
.vite/
coverage/

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.sublime-workspace
*.swp

*.log
*.tsbuildinfo
.eslintcache